* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

h2 {
    color: aliceblue;
    margin: 24px;
}

.container {
    margin: 100px auto;
    display: flex;
    justify-content: center;
    border-radius: 12px;
    background-color: rgb(41, 41, 41);
    width: 980px;
    height: 680px;
}

form {
    text-align: center;
    background-color: rgb(59, 59, 59);
    width: 50%;
    border-top-left-radius: 12px;
    border-bottom-left-radius: 12px;
}

.input-name, .input-phone {
    display: flex;
    flex-direction: column;
    margin: 8px 24px;
}

input[type="text"],
input[type="tel"],
button {
    padding: 12px;
    border: none;
    font-size: 16px;
    border-radius: 5px;
    color: #fff;
    background-color: rgb(73, 73, 73);
}

form button {
    margin-top: 16px;
    cursor: pointer;
    background-color: rgb(29, 108, 255);
}

button:hover {
    background-color: rgb(29, 89, 201);
}

.tabela {
    text-align: center;
    color: #a3a3a3;
    background-color: rgb(48, 48, 48);
    width: 100%;
    border-top-right-radius: 12px;
    border-bottom-right-radius: 12px;
}

.contact-name, .contact-phone {
    background-color: rgb(73, 73, 73);
    padding: 24px;
    font-size: 18px;
    color: #fff;
}

.contact-name {
    text-align: left;
    border-top-left-radius: 5px;
    border-bottom-left-radius: 5px;
}

.contact-phone {
    text-align: center;
    border-top-right-radius: 5px;
    border-bottom-right-radius: 5px;
}

.tabela table {
    padding: 24px;
    width: 100%;
    border-collapse: separate;
    border-spacing: 0 8px;
}

.tabela td {
    font-size: 18px;
    color: #fff;
}
